**/FlexibleWorker/.git/
**/FlexibleWorker/.DS_Store
**/FlexibleWorker/.firebaserc
**/FlexibleWorker/.gitignore
**/FlexibleWorker/firebase.json
**/FlexibleWorker/firebase-debug.log
**/FlexibleWorker/firestore.indexes.json
**/FlexibleWorker/manifest.json
**/FlexibleWorker/README.md
**/FlexibleWorker/storage.rules
**/FlexibleWorker/sw.js
**/FlexibleWorker/._.DS_Store
**/FlexibleWorker/._manifest.json
**/FlexibleWorker/._README.md
**/FlexibleWorker/._sw.js
