html {
  overflow: hidden; }

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #F7FF8A;
    position: relative;
}

#navbar_space{
    width: 100%;
    height: 8%;
}

#my_navbar{
    width: 100vw;
    height: 8vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #BF864D;
}

#navbar_title{
    font-size: 30px;
    font-weight: 400;
    color:white;  
}

#upper_left{
    height: 45vh;
    width: 49vw;
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
}

#upper_right{
    height: 45vh;
    width: 49vw;
    right: 0;
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
}

#lower_left{
    height: 45vh;
    width: 49vw;
    z-index: 1;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
}

#lower_right{
    height: 45vh;
    width: 49vw;
    z-index: 1;
    bottom: 0;
    right: 0;
    position: fixed;
    overflow-x: hidden;
}

#vertical_line{
    height: 100vh;
    width: 2vw;
    z-index: 1;
    margin-left: 49vw;
    position: fixed;
    overflow-x: hidden;
    background-color: #663300;
}

#horizontal_line{
    height: 2vh;
    width: 100vw;
    z-index: 1;
    position: fixed;
    margin-top: 45vh;
    overflow-x: hidden;
    background-color: #663300;
}
