service cloud.firestore {
  match /databases/{database}/documents {
    match /positions/{anything=**} {
      allow read, write: if true;
    }
  }
}